.add_task_form {
    display: flex;
    background-color: #fff1;
    border-radius: 7.5px;
    padding: 5px;
    margin-bottom: 15px;
    position: sticky;
    top: 75px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.add_task_form input[type="text"] {
    width: 100%;
    padding: 13px 10px;
    border: unset;
    font-size: 18px;
    border-radius: 5px;
    background: #c2c2c211;
    color: #fff;
}
.add_task_form input[type="text"]:focus-visible,
.add_task_form input[type="submit"]
 {
outline: none;
}

.add_task_form input[type="submit"] {
    padding: 10px 20px;
    border: unset;
    border-radius: 5px;
    background: #ffffff;
    color: #000;
    margin-left: 5px;
}