.header img {
    width: 180px;
    height: auto;
    object-fit: contain;
}
.header {
    background: #4c4c4c2b;
    padding-block: 10px;
    padding-inline: 10vw;
    position: fixed;
    z-index: 99999;
    width: 100%;
    inset-inline: 0;
    top: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
}