.grid_layout_homepage {
    display: grid;
    gap: 15px;
    width: 100%;
    grid-template: auto / 300px 1fr;
    margin-inline: auto;
}
.content_left {
    height: fit-content;
    position: sticky;
    top: 75px;
}