
.task {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.task_action_delete,
.task_action_edit {
    cursor: pointer;
}
/* .title_container {
    display: flex;
    align-items: center;
    gap: 10px;
} */
.title_container * {
    margin: 0;
}
.main_content_task {
    display: flex;
    align-items: center;
    gap: 7.5px;
}
.main_content_task input[type="checkbox"] {
    width: 20px;
    height: 20px;
}